.MKAX{
    font-family: "Pacifico";
    letter-spacing: 0.02cm;
    
}

.profile{
  object-fit: "cover";
}
*{
  /* transition: 0.5s; */
}
/* :root{
  /* background-color: #fff; 
} */

.scaleUpCenter:hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.scaleUpCenter:not(:hover) {
  -webkit-animation: scalteUps 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: scalteUps 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes scalteUps {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scalteUps {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.XAAXX {
  color: #e9c03a;
}.VASCA {
  border-color:  #e9c03a;
}

.PRHP{
  line-height: 1rem;
}

.AXASV {
    clip-path: polygon(
      0px calc(100% - 4px),
      4px calc(100% - 4px),
      4px 100%,
      calc(100% - 4px) 100%,
      calc(100% - 4px) calc(100% - 4px),
      100% calc(100% - 4px),
      100% 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 0px,
      4px 0px,
      4px 4px,
      0px 4px
    );
}

.ASCENT{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.AXAA{
  max-width: 710px
}



.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 10px),
    5px calc(100% - 10px),
    5px calc(100% - 5px),
    10px calc(100% - 5px),
    10px 100%,
    calc(100% - 10px) 100%,
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 10px),
    100% calc(100% - 10px),
    100% 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 5px,
    5px 5px,
    5px 10px,
    0px 10px);
  position: relative;
}
.pixel-corners {
  border: 5px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(5px 10px,
    10px 10px,
    10px 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 5px),
    10px calc(100% - 5px),
    10px calc(100% - 10px),
    5px calc(100% - 10px));
}
.XALAC  {
  clip-path: polygon(
    0px calc(100% - 3px),
    3px calc(100% - 3px),
    3px 100%,
    calc(100% - 3px) 100%,
    calc(100% - 3px) calc(100% - 3px),
    100% calc(100% - 3px),
    100% 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 0px,
    3px 0px,
    3px 3px,
    0px 3px
  );
}