:root{
 transition: 0.3s; 
scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}
body{
  background-color: black;
 }
.main{
  max-width: 500px;
  margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
      padding-right: 10px;
}
.profile{
  height: 85px;
  width:  85px;
  border-radius: 10px;
  filter: contrast(115%);
  margin-right: 15px;
}

.hghasdx{
  
  align-items: center;
}

.text-Regular {
  color: white;
  font-family: "SFPro";
  font-weight: 100;
  letter-spacing: 0.02cm;
}
.text-PreMute {
  color: white;
  opacity: 0.8;
  font-family: "SFPro";
  font-weight: 100;
  letter-spacing: 0.02cm;
}

.text-Mute {
  color: white;
  opacity: 0.5;
  font-family: "SFPro";
  font-weight: 100;
  letter-spacing: 0.02cm;
}

.Mute {
  color: white;
  opacity: 0.5;
}
.PreMute {
  color: white;
  opacity: 0.8;
}


.icon{
  color: white;
    opacity: 0.8;
  --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.KSDAJ::after{
  content:"•";
  font-size: xx-large;
  position: absolute;
  margin-top: -13px;
}

.GASDQ{
  display: flex;
}

.GASDQ div:nth-last-of-type(2){
  min-width: 120px;
  max-width:120px;
}
.HAQXSA{
    font-family: "SFPro";
    font-weight: 100;
    letter-spacing: 0.02cm;
    color: white;
    z-index: 1;
    opacity: 0.8;
    transition: 0.5s;

}
.HAQXSA::after {
  transition: 0.3s;
    display: block;
      content: '';
      height: 5px;
      /* background: white; */
      margin-left: -8px;
      margin-right: 10px;
      margin-top: -18px;
      z-index: -1;
      height: 20px;
      border-left: 5px solid transparent;
      border-bottom: 5px solid transparent;
}
.HAQXSA:hover::after{
    /* position: absolute; */
      display: block;
      content: '';
      height: 5px;
      /* background: white; */
      margin-left: -8px;
        margin-right: 10px;
      margin-top: -18px;
      z-index: -1; 
      height: 20px;
      border-left: 5px solid yellow;
      border-bottom: 5px solid yellow;

}


 
.fadeIn {
  /* background-color: black; */

  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

@keyframes flicker-in-1 {
  0% {
    background-color:  rgba(0, 0, 0, 1);
  }
  90%{
      background-color:  rgba(0, 0, 0,1);
  }
  100% {
      background-color:  rgba(0, 0, 0, 0);
      visibility: hidden;
  }
}
